/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root {
    --brd-color: #46C6EA;
    --brd-color-dark: #1fa9cf;
    --brd-gray: #F2F2F2;
}

* {
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins',sans-serif;
}

.container {
    margin-top: 40px;
}

.hover-white:hover {
    color: #6c757d;
    background-color: #343a40;
}

.carousel-item {
    height: 91vh;
}

.car-hw {
    height: 50px;
    width: 50px;
}

.btn-info {
    background-color: var(--brd-color);
    border-radius: 20px;
}
.btn-info:hover {
    background-color: var(--brd-color-dark);
    color: white;
}

.btn-outline-info {
    border-radius: 18px;
}

/* Hero text */

.hero-heading {
    font-family: "Poppins",sans-serif;
}

h3 {
    font-family: "Poppins",sans-serif;
}

.hero-des>h3>span {
    color: var(--brd-color) ;
}

.hero-text {
    font-family: "Poppins",sans-serif;
}

/* .hero-des {
    margin-top: 8rem;
} */



/* Hero image */
.hero-image {
   width: 500px;
}


/* Product section */
.services-sec {
    /* height: 350px; */
    background-color: var(--brd-gray);
    border-radius: 25px;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    transition: all ease-in-out 0.2s;
}

.services-sec:hover {
    box-shadow: 1px 1px 5px #424447;
}

.ser-name {
    font-weight: bold;
}

/* review section */

.rev-img {
    width: 120px;
    float: left;
}

.blockquote-footer span {
    color: var(--brd-color);
}

.col-md-5 {
    background-color: var(--brd-gray);
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
}

/* Form section */

.form-control {
    border-radius: 13px;
}

.contact-form {
    background-color: var(--brd-gray);
    border-radius: 10px;
}

/* Form section */

.footer-group {
    padding: 0px;
    
}
.footer-group a {
    color: rgb(5, 4, 4);
}

.col-sm-3 {
    padding: 30px;

}

.round-cor {
    border-radius: 15px;
}