:root {
    --emon: #8b1717;
    --brcolor: rgb(245, 14, 14);
}

.wspc {
    background-color: var(--emon);
}

.janina {
    color: var(--emon);
}

.br-color {
    background-color: var(--brcolor);
}

.bgclr {
    background-color: var(--emon);
}